@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center custom-title">
    <h1 class="display-4">Krafted Cinema</h1>
</div>

<div class="text-center">
    <p>The #1 source for the managing your favorite actors and movies!</p>
</div>
